* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body.light {
    color: #1a1a1a !important;
    background-color: #ffffff !important;
}


body.dark {
    color: #ffffff !important;
    background-color: #000000 !important;
}

.container {
    width: 1040px;
    height: 1200px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: border-color 0.3s ease;
}

body.light .container {
    border: 1px solid #1a1a1a;
}

body.dark .container {
    border: 1px solid white;
}