* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #1a1a1a;
    background-color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.container {
    width: 1040px;
    height: 1200px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

body.dark {
    color: white;
    background-color: black;
}

body.dark .container {
    border: 1px solid white;
}